.bg{
  background-image: url(./image/image5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100vw;
  min-height: 100vh;
  overflow: overlay;
  
}

nav{
  background: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
 a.nav-link {
  color: #1b105b;
  font-size: 1.3rem;
}

  
/* ---------------header section--------------- */
.a{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero-con{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 70px; 
  margin-bottom: 2em;
  gap: 2em;
}
.containt{
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 30px;
  border-radius: 5px;
  max-width: 500px;

}
.containt h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  color: #12264a;
  
}

.containt p{
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  
}

.form-con {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 300px;
  padding: 40px;
 
 
  
}
.form-con input{
  
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  
  
}
.form-con input:focus{
  outline: none;
  background-color: none;
  box-shadow: none;
}

.form-con button{
  width: 100%;
  background-color: #fff;
  color: black;
  border-radius: 50px;
}
.form-con button:focus :hover{
  outline: none;
  background-color: wheat;
  
  
}

.form-label{
  font-family: 'Mulish', sans-serif;
  font-size: 1em;
}

.content a {
  display: inline-block;
  color: rgb(65, 3, 3);
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header-form {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 50px;
  margin-top: 10px;
}

/* -----------------cardbar section start---------------- */

.cardname {
  background-image: url(./image/image3.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
}

.container1 {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 80px;
}

.formbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  max-width: 550px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.formbox h1 {
  padding-right: 10px;
  color: #12264a;
}

.formbox p{
  color: #12264a;
  margin-bottom: 40px;
}

.imgbox1 img {
  max-width: 300px;
}

.formbox a{
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  color: rgb(105, 3, 3);
  text-decoration: none;
  font-weight: 100;
  
}
/* --------------------cardbar section end------------ */

/* -------------- location section start------------------ */

.map {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.map-text {
  text-align: center;
}

.map-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  
}

.map-text h3 {
  padding-top: 40px;
  
}

.location {
  padding: 40px;
  background-color: #12264a;
  
}

.location h4 {
  text-align: center;
  padding-bottom: 30px;
  color: white;
}

.location p{
  color: #fff;
}
.location ul{
  color: #fff;

}
/* ------------- .location end -------- */


/* ---------- contect section start-------- */
.conte-main {
  background-image: url(./image/image5.jpg);
 
  

}

.conte-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 55px;
  background-color: rgba(0, 0, 0, 0.384);
  flex-wrap: wrap;
  gap: 2em;
  min-height: 50vh;

}

.conte-main h1{
  color: #fff;
}

.cardbar2-con {
  background-image: url(./image/image2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  

}

.cardbar-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px;
  background: #12264ac9;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  flex-wrap: wrap;
  gap: 3rem;
  
}

.cardbar-con ul{
  color: #fff;
}
.cardbar-con p{
  color: #fff;
}
/* -----------Abaut section start-------- */

.about-con{
  padding-top: 50px;
}

.about-con h3 {
  text-align: center;
  padding: 30px;

}

.about-con-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-con p {
  padding: 20px 90px;
  text-align: center;
}

/* ____________abaut section end__________________ */



.footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 50px 120px;
}

.ameni-con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: url(../src/image/image3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.ameni-cont {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  width: 150px;
  height: 150px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  flex-direction: column;
}

.footer p {
  text-align: center;
}

section{
  overflow-x: hidden;
}

.div-1{
  padding: 50px 0;
  background-color: #12264a;
  transform: rotate(5deg);
  margin-right: -20%;
  margin-left: -20%;
  margin-bottom: -5%;
  margin-top: -7%;
}

.comman-style{
  text-align: center;
  padding: 30px;
  color: #fff;
  background-color: #12264a;
  margin: 150px auto;
  height: 200px;
  width: 250px;
  border: 3px solid #fff;
  cursor: pointer;
  font-size: 0.5rem;
}

.inner-div-1{
  transform: rotate(-5deg);
}

.div-2{
  padding: 100px;
  background-image: url(../src/image/image2.jpg);
  background-attachment: fixed;
  margin-left: -5%;
  margin-right: -5%;
}

.div-3{
  padding: 10px 0;
  background-color: #12264a;
  transform: rotate(5deg);
  margin-left: -20%;
  margin-right: -20%;
  margin-top: -7%;
  margin-bottom: -5%;
}

.div-3 .inner-div-3{
  transform: rotate(-5deg);

}

.div-4{
  margin-left: -20%;
  margin-right: -20%;
  color: #1b105b;
  text-align: center;
  margin: 200px auto;
}

/* ------------- Scroll bar ---------- */

::-webkit-scrollbar{
  width: 0.8rem;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.2);

}

::-webkit-scrollbar-thumb{
  background-color: #12264a;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

/* ------------- Scroll bar end ---------- */

/* ------------- modal start ---------- */

div.modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgbox11 img{
  max-width: 200px;
  
}

/* ------------- modal end ---------- */

/* -------- social start-------- */

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
}
.social a{
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

.social a:hover {
  color: rgb(255, 255, 255);
}
/* -------- social end-------- */
/* _____---------------------- mediaquery -------- */

@media (max-width: 928px) {
  .map{flex-direction: column;}
  
  
}
@media (max-width: 562px) {
  .footer p{font-size: 0.4rem;}
  .imgbox11{display: none;}
}

